<%// console.log(pokeData) %> 
<form method="POST" action="/pokemon">
    <input type="hidden" name="name" value="<%= pokeData.name %>">
    <input type="hidden" name="url" value="<%= pokeData.sprites.other.dream_world.front_default %>">
    <button class="btn btn-primary purple accent-4" type="submit">Add to Favorite Pokemon</button>
</form>
</br>
<% let pokeName = pokeData.name %> 
<form action="/pokemon/<%= pokeName %>?_method=DELETE" method="post">
    <button class="btn btn-primary purple accent-4" type="submit">Remove from Favorite Pokemon</button>
</form>
</br>
<div class="slider" >
    <ul class="slides">
      <li>
        <img class="slidesImg" src="<%= pokeData.sprites.other.dream_world.front_default %>" alt="Pokemon Image" height="">
      </li>
      <li>
        <img class="slidesImg" src="<%= pokeData.sprites.other.dream_world.front_default %>" alt="Pokemon Image" height=""> 
      </li>
    </ul>
</div>

<h4><%= pokeData.name.charAt(0).toUpperCase() + pokeData.name.slice(1) %></h4>
<h6>Height: <%= pokeData.height %> inchs </h6>
<h6>Weight: <%= pokeData.weight %> lbs</h6>

<div class="pokeDetail">
    <div class="moves">
        <h6 class="name">Abilities</h6>
        <ul>
            <% let i=1 %> 
            <% let pokeAbility = pokeData.abilities %> 
            <% pokeAbility.forEach(response => { %>
                <li> <%= i %>.  <%= response.ability.name %> </li>
                <% i++ %> 
            <% }) %>
        </ul>
    </div>
    <div class="moves">
        <h6 class="name">Moves </h6>
        <ul>
            <% let j=1 %> 
            <% let pokeMoves = pokeData.moves %> 
            <% pokeMoves.forEach(response => { %>
                <li> <%= j %>.  <%= response.move.name %> </li>
                <% j++ %> 
            <% }) %>
        </ul>
    </div>
</div>

<% // I want to work more on this project %>

<% // To Do 'pokeData.sprites.other.official-artwork.front_default' can't access official-artwork since its the key is a string %>
<% // to do if the pokemon not exists in favorite pokemon then add to favorite will show %>
<% // to do if the pokemon exists in favorite pokemon then remove from favorite will show %>
